.content input:not(.inp-text) {
outline: none;
border: 0;
border-bottom: 1px solid #DDD;
border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;
box-shadow: inset 0 1px 1px 0 #555; 
-webkit-box-shadow: inset 0 1px 1px 0 #555; 
-moz-box-shadow: inset 0 1px 1px 0 #555;
padding: 0 5px;
}
.content input:focus {}
.content input[type="text"] {height: 25px;}
.content input[type="radio"] {box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;}
.content input[type="file"], #attachMeta1 input {background-color: #fff;padding: 5px;}
.content input[type="checkbox"] {box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;border:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;-khtml-border-radius:0; }
.content input[readonly] {background: #ECECEC;}
.content textarea {margin: 0;padding: 2px 1px;}

.content button[type="submit"], .blockstop , .mat-title, .button, input[type="submit"], input[type="button"] {
background: #6c6c6c url('../img/button.png') repeat-x top;
border: 1px solid #555555;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
color: #f3f3f3 !important;  
font: 300 12px ArialNarrow, sans-serif;
line-height: 28px;
height: 28px;
padding: 0 10px;
text-align: center;
min-width: 100px;
display: inline-block;
cursor: pointer;
text-transform: uppercase;
box-shadow: none;  
-webkit-box-shadow: none;  
-moz-box-shadow: none;
}
.content button[type="submit"]:hover, .button:hover,  input[type="submit"]:hover, input[type="button"]:hover {background-position: bottom;color: #fff; text-decoration:none !important;}


.error, .error li {
	font-size: 11px;
	color: #535355;
}
.error th {
	font-size: 13px;
	color: #E57D1C;
}
newMessages {
	text-decoration: blink;
}

.add-form {
	margin: 0px auto;
	width: 100%;
	font-size: 12px;
}

.add-form input, select {
border: 1px solid #7c7c7c;
	width: 98%;
	padding: 0px;
	margin: 0px
}

.add-form .codeButtons {
	border: 1px solid #131A1D;
	background: #4F6065;
	padding: 1px;
	color: #87A637;
	font-size: 10px;
	width: 36px;
	margin: 1px 0px;
}
.add-form .code-help {
	font-size: 10px;
	color: #535355;
}
.add-form .codeSelect {
	border: 1px solid #131A1D;
	background: #4F6065;
	padding: 1px;
	color: #87A637;
	font-size: 10px;
	width: 110px;
	height: 19px;
	margin: 1px 0px;
}
.add-form .helpline {
	width: 400px;
	font-size: 10px;
	border: 1px solid #131A1D;
	background: #4F6065;
	color: #87A637;
}
.add-form .text-area {
	width: 100%;
	font-size: 12px;
	height: 300px;
	padding: 0px;
	margin-top: 15px;
	border: 1px solid #131A1D;
	color: #131A1D;
}
.add-form .subm {
	max-width: 270px;
	padding: 2px 10px;
	border: 1px solid #131A1D;
	background: #4F6065;
	color: #87A637;
	font-weight:bold;
	cursor:pointer;
}
.add-form .inp-foto {
	float: left;
	width: 200px;
}
.add-form strong {
	color: #EC821B;
}
.add-form td {margin-bottom:10px;}
.add-form .left {width:250px;text-align:right;}
.add-form .right {width:250px;text-align:left;}
.add-form .right textarea {width:100%;height:100%;}

.anket-form {}
.anket-form strong {color:#9DC13F;}
.anket-form input[type="submit"] {cursor:pointer; width:150px;}
.anket-form input, select {border:1px solid #7c7c7c;width:100%;padding: 0px;margin: 0px}
.anket-form input[type="radio"] {width:auto !important; margin-left:5px !important;}
.anket-form .left {width:240px;padding:3px 3px 10px 15px;text-align:right;}
.anket-form .right {width:240px;padding:3px 15px 10px 3px;text-align:left;}
.anket-form .right textarea {border:1px solid #7c7c7c;width:100%;height:100%;}

.share-us {
	color: #7EBA0D;
	height: 16px;
	padding: 2px;
	margin-top: 20px;
}
.share-us span {
	font-weight: bold;
	vertical-align: top;
}
.material-foto {
	width: 165px;
	float: left;
	margin: 5px;
	font-size: 10px;
	color: #767676;
	text-align: center;
	background: none;
	overflow: hidden;
}
.material-foto .view img {
	border:1px solid #87A637;
}
.foto-rotator {
	text-align: center;
	margin: 0px auto;
	font-size: 13px;
}
#nav-block {
    width: 80%;
	font-size: 12px;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	
}
#nav-block div {
	padding: 3px 0px;
}
#nav-block a {
	font-size: 12px;
}
a.pages {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #27383F;
	padding: 2px 5px;
	color:#DCDCDC;
	text-decoration:none;
	font:11px Verdana !important;
}
a.pages:hover {background: #36434B;}
span.pages {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #A1BD55;
	padding: 2px 5px;
	color:#171F22;
}
strong.pages {background-color: #A1BD55;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;color: #171F22;font-family: Arial;margin-right: 0px;padding: 2px 5px 2px 6px;font-weight:normal;font:11px Verdana !important;}


/*-------------------Poisk---------------- */
.searchbg{padding:15px 0px 5px 0px;border-bottom:1px dashed #38464b;width:471px;height:30px;}
input.search_input{background:url(../img/searchbg.png) no-repeat;width:396px;height:26px;color:#656a6c;border:none;padding-left:10px;font-size:12px;float:left;}
input.search_but{background: url(../img/button.png) no-repeat;width:61px;height:28px;float:right;cursor:pointer;margin-top:-2px;outline:none; border:none;}
input.search_but:hover{background: url(../img/buttona.png) no-repeat;}

#meta-user {
	width: 270px;
	font-size: 11px !important;
	position: relative;
	top: 0px;
	right: -670px;
}
#meta-user a {
	font-size: 11px !important;
	color: #E27B1C;
	text-decoration: none;
}
#meta-user a:hover {
	text-shadow: 0 0 1px #E27B1C;
}

.import-butons {
	position: relative;
	top: 29px;
	left: 0px;
}

.commentst {background: url(../img/commentst.png) no-repeat top;width:530px;height:3px;}
.voter {background:#f1f1f1 url(../img/vopr.png) no-repeat top right;color:#515151;position:relative; z-index:1; /*IE*/border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;padding:6px 4px;font-weight:bold;}
.blockvote {padding:5px 10px;}
.golos {background: url(../img/golos.png) no-repeat top;width:83px;height:23px;border:none;cursor:pointer;float:left;margin:0px 10px 0px 7px;}
.rezylt {background: url(../img/rezylt.png) no-repeat top;width:83px;height:23px;border:none;cursor:pointer;}
.rezvote {margin-top:5px;color:#717171;}

.bgnav {background:#202b30 url(../img/bgbotf.png) no-repeat;width:530px;height:3px;}
.nav {padding:7px 0px 0px 5px;color:#DCDCDC;}
.nav2 span {color:#171f22;background-color:#a1bd55;padding:2px 5px 2px 6px;position:relative; z-index:1; /*IE*/border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-family:Arial;margin-right:2px;}
.nav2 a  {color:#DCDCDC;background-color:#27383f;padding:2px 5px 2px 6px;position:relative; z-index:1; /*IE*/border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-family:Arial;margin-right:2px;}
.nav2 a:hover {background-color:#354a52;color:#c5dbe6;}
.nav a {text-decoration:none;}
.ucaza {float:left;margin:-15px 0px 0px 360px;}
.ucaz1 {margin-right:3px;background: url(../img/nav.png) no-repeat;width:70px;height:20px;display:inline-block;cursor:pointer;}
.ucaz1:hover {background: url(../img/nava.png) no-repeat;}
.ucaz2 {margin-right:10px;background: url(../img/nav2.png) no-repeat;width:70px;height:20px;display:inline-block;cursor:pointer;}
.ucaz2:hover {background: url(../img/nav2a.png) no-repeat;}

/*не посещенная ссылка*/
a:link {color: #DCDCDC ;} 

/*посещенная ссылка*/
a:visited {color: Silver;} 

/*перемещение мышки над ссылкой*/
a:hover {color: Blue;} 

/*активная ссылка*/
a:active {color: lime;} 


/* --------  FORUM   ------------- */
.content-forum {
	width: 650px;
	padding: 5px;
	margin: 10px;
}
.cat-tb {
width: 99.5%;
	padding: 25px;
	margin: 1px;
}
.content-forum a {text-decoration:none;}
.content-forum a:hover {}
.content-forum .cat-tb {
	width: 650px;
	margin-bottom: 0px;
	/*border: 1px solid #656565;*/
	font-size: 13px;
}
.cat-tb .title {
	height: 29px;
	background: url('../images/post_info_bg.png') no-repeat;
	color: #444;
	font-size: 13px;
	font-weight:bold;
	padding-left: 15px;
	border:none;
}
.cat-tb td {border-left:1px solid #444;border-bottom:1px solid #444;border-top:1px solid #444;border-right:1px solid #444;background: url('../images/menu.png') repeat-x #a3a3a3; padding: 3px;}
.cat-tb .title a{
	color:black;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
.forum-hiddener td {padding:2px;border-left:1px solid #444;border-bottom:1px solid #444;border-top:1px solid #444;border-right:1px solid #444;background: url('../img/forum-td-bg.jpg') repeat-x #36474E;}
.cat-tb .title a:hover {
	text-decoration: underline;
}
.cat-tb .meta {
	font-size: 10px;
	color: #444;
	background: #a3a3a3;
	height: 20px;
	padding: 0px 5px;
}

.forumDescr {
	font-size: 10px;
	color: #fff;
}
.forumNameTd {
	vertical-align: center;
	color: #fff;
}
.forumNameTd .left {float:left;}
.forumNameTd .right {float:right;}
ul.subforums {
	display: inline-block;
	max-width: 300px;
	max-width: 300px;
}
ul.subforums li {
	display: inline-block;
	padding: 1px 25px 1px 15px;
	width:100px;
}
a.subforum {
	font-size: 12px;
}
.forumLastPostTd {
	width:150px;
	font-size: 11px;
	color: #fff;
}
a.forum {
	font-size: 12px;
	font-weight: bold;
}
.forumThreadTd, .forumPostTd {
	font-size: 16px;
	color: #f1f1f1;
	font-weight: bold;
}
.fps-theme-important td {background: url('../img/forum-td-bg-important.jpg') repeat-x #325140;}
.stat {
	width: 97%;
	margin-bottom: 15px;
	/*border: 1px solid #656565;*/
	font-size: 13px;
	color: #4E4948;
}
.stat td {
	padding: 3px;
}
.stat .title {
	height: 29px;
	background: url('../images/menu.png') no-repeat;
	color: #444444;
	font-size: 14px;
	padding-left: 5px;
	font-weight: bold;
}
.stat .meta {
	font-size: 10px;
	color: #656565;
	background: url('../img/4.1.png') repeat-x;
	height: 20px;
	padding: 0px 5px;
}
.threadNametd {
	font-size: 11px;
	color: #DCDCDC;
}
.threadNametd .left {float:left;}
.threadNametd .right {float:right;}
.threadAuthor {font-size:11px; font-weight:bold;}
.threadAuthor a {text-decoration:none;}
.threadAuthor a:hover {color:#444;}
.threadPostTd, .threadViewTd {
	color: #DCDCDC;
}
.posts-tb {
	font-size: 11px;
	color: #656565;
	width: 99.5%;
	margin-left: 1px;
	height:auto !important;
}
.posts-tb .title {
	height: 33px;
	background: url('../images/post_info_bg.png') no-repeat;
	color: #444444;
	font-size: 11px;
	padding-left: 15px;
	font-weight: bold;
	text-transform:uppercase;
	line-height: 29px;
}
.post-tb {
	width: 100%;
	border:1px solid #131A1D;
}
.post-tb .meta {
	background: #fff;
	border:1px solid #444;
	font-size: 11px;
	color: #656565;
	height: 29px;
	padding: 0px 5px;
}
.post-tb .meta-b {
	background: #fff;
	border:1px solid #444;
	font-size: 11px;
	color: #656565;
	height: 29px;
	padding: 0px 5px;
	border-bottom: 1px solid #808080;
}
.postUser {
	font-size: 13px;
	padding-left: 15px;
	font-weight:bold;
	text-decoration:none;
}
a.postUser:hover {color:#444;}
.postTdInfo {
	padding: 10px 5px 10px 5px !important;
	text-align: left;
}
.postTdInfo .info {
	font-size: 11px;
	color: #656565;
}
div.avatar {
	background:#131A1D;
	padding:7px;
	border: 1px solid #202B30;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow:0 0 3px #87A637;
	-moz-box-shadow:0 0 3px #87A637;
	-webkit-box-shadow:0 0 3px #87A637;
	display:inline-block;
	margin-left: 2px !important;
}

.miniprofile-cont {
	margin-top: 10px;
	border: 1px solid #808080;
	background: url('../img/mini_profile_forum-bg.png') repeat #EDEDED;
	width: 140px;
	color:#616E72;
	border-collapse:collapse;
}
.miniprofile-cont .info {
	/*border-bottom: 1px solid #808080;*/
	padding: 2px 2px;
	text-align: left;
	font-weight:bold;
	font-size:10px;
	font-family:Arial;
}
.miniprofile-cont .info span {font-weight:normal; color:#87A637;}
.miniprofile-cont .userRank {
	border-bottom: 1px solid #808080;
}

.ratingBlock {display:inline;}
.miniprofile-cont .ratingBlock a {
	display: inline-block;
	border: 1px solid #808080;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px;
	font-weight: bolder;
	background: #F4F2F3;
	color: #3C3A3D;
	text-decoration: none;
}

.statusBlock {
	margin-top: 5px;
	text-align: center;
}

.posttdMessage {
	padding: 5px !important;
	background:#fff;
		border: 1px solid #444;
}
.edited {
	font-size: 11px;
	color: #656565;
	float: right;
	vertical-align: bottom;
}
.add a{color:black;}
.add a:hover {color:silver;}
.add-form td {padding:1px;}
.add-form .title {
	height: 29px;
	background: url('../images/post_info_bg.png') no-repeat;
	color: #444444;
	font-size: 14px;
	padding: 3px 5px;;
	font-weight: bold;
	text-align: center;
	width:750px;
}
.reply {
	width: 100%;
}
.reply .text-area {
	height: 180px;
	margin-top: 5px;
	width: 100%;
	background: #444;
	font-family: verdana;
	font-size: 12px;
	color: #000;
}

.attachField {
	width: 250px !important;
}
.small .attachField {width: 200px !important;}
input[type=checkbox] {
	width: 20px !important;
}
.parent-forum {
	float: right;
	font-size: 10px;
}
.small {width:520px; padding:0px 5px;}
.small input.subm {width:45%;}
.small textarea {background:#444 !important;}
/* -------------------------------- */

/* --------  SEARCH --------------- */
.search-row {
	font-size: 13px;
	color: #323232;
	margin-bottom: 10px;
}
/* -------------------------------- */

/* --------  USERS  --------------- */
.user-tb {background:none;padding-bottom:5px;color:#666; margin:1px;}
.user-tb td {padding:3px;border-left:1px solid #444;border-bottom:1px solid #444;border-top:1px solid #141B1E;border-right:1px solid #141B1E; background:  #fff;}
.user-tb td.userName a {font-weight:bold; text-decoration:none;}

.show-user {
	font-size: 11px;
	color: #323232;
	background: #fff;
margin:1px;	
}
.show-user .title, .user-tb .title, .anket-form .title {background:  scroll 0 0 #fff;}

.show-user td {padding:3px; color:#656A6C;	border: 1px solid #7c7c7c;}
.show-user td.left {font-weight:bold;text-align:right;float:none;}
.show-user td.right {text-align:left;float:none;color:#6C8894;}
.show-user a {text-decoration:none;}
.show-user a:hover {color:#2E414B;}

.message-tb {
	width: 90%;
	font-size: 13px;
	color: #323232;
	margin: 0px auto;
}
.message-tb .right {
	text-align: left;
	padding:3px 3px 3px 20px;
	float:none;
}
.message-tb .left {
	text-align: right;
	width:135px;
	float:none;
}
.message-tb .right input {width:215px; border:1px solid #B1B1B1;}
.message-tb td textarea {border:1px solid #B1B1B1; width:510px; margin-left:9px;} 
.rules {
	width: 80%;
	margin: 0px auto;
	background: #444444;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	font-size: 13px;
}

.urating {border-bottom:1px solid #323232; margin-bottom:5px;}
.urating .action {float:left; color:#87A637; font-size:17px; font-weight:bold; padding:0px 3px;}
.urating .action span {color:#E27B1C;}
.urating .usr a {color:#87A637; font-weight:bold; text-decoration:none;}
.urating .usr a:hover {color:#656565;}
.urating .usr {float:left; color:#87A637; font-size:14px; padding: 0px 5px;}
.urating .date {float:left; color:#87A637; font-size:10px; padding: 0px 5px;}
.urating .comm {color:#656565; font-size:12px; padding:2px 2px 5px 2px;}
.urating .moder {float:right;}
/* -------------------------------- */

/* --------  COMMENTS ------------- */
.comment-container {
    width: 450px;
    margin: 0px auto;
    margin-bottom: 15px;
    border: 1px dashed #779999;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background: #253439;
    padding: 5px 0px 10px 0px;
}
.comment-container .title {
    width: 430px;
    margin-bottom: 2px;
    font-weight:bold;
    color: #587803;
    font-size:13px;
    border-bottom: 4px solid #1e2a2e;
    padding: 0px 10px 0px 10px;
}
.comment-container .title span {font-weight:normal;font-size:10px;margin-left:15px;color:#808080;}
.comment-container .view {
    width: 430px;
    border-bottom: 1px dotted #5D5D5D;
    font-size: 13px;
    color: #808080;
    border: 0px;
    padding: 0px 10px 0px 10px;
}
.comment-container img.ava {float:left; width:50px; height:50px; margin:5px 10px 10px 0px; padding:2px; border:1px dashed #005555; background:#002222;}
.comment-container img.ava:hover {border-color:#779999;}
.comment-container .title a {text-decoration:none; color:#87A637;}
.comment-container .title a:hover {color:#587803;}
.addcomments-block {width: 500px; margin: 0px auto;}
.addcomments-block table {padding:0px; margin:0px;}
.addcomments-block table tr td {padding:2px;}
.addcomments-block table tr td textarea {width:494px; height:150px;}
.addcomments-block table tr td input, .addcomments-block table tr td textarea {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:1px solid #2E5661;}
.addcomments-block table tr td input[type="submit"] {cursor:pointer;}
.comm-pagi {padding:0px 0px 10px 35px;}
/* -------------------------------- */





span.postAuthor {font-weight: bold;}
span.postAuthorOver {font-weight: bold;color:#006699;cursor: pointer;}
span.quoteAuthor {font-size : 13px;}
span.quoteAuthorOver {color : #5C9F00;cursor: pointer;font-size : 15px;}
.newMessages {text-decoration:blink !important;}
/* ----------------- */
.smilebox {width:100%;height:280px;overflow:auto; background:#131A1D;}
.smilebox div {width:38px;height:40px; float:left;}
/* ====== forum End ====== */

/* ====== BBCODE ======*/
.codePHP { overflow:auto; max-width:580px; max-height:400px; background: #E54449; border: 1px dashed #aaa;}
.codePHP div:first-child {border-right:1px solid #111; width: 36px !important; padding-right:1px !important; background: #DDD !important;}
.codeHTML { overflow:auto; max-width: 550px; max-height: 400px; }
.codeJS { overflow:auto; max-width: 550px; max-height: 400px; }
.hide { color:#939494; font-size:11px; padding: 10px;}
.codeMessage {max-width:530px; overflow:auto;}
.quoteMessage {border:1px solid !important; background:#FEB; max-width:580px; overflow:auto;}

.bbQuoteBlock
.bbQuoteBlock .bbQuoteName {padding-left: 5px; font-size: 7pt;}
.bbQuoteBlock .quoteMessage {border: 2px inset ; overflow: auto; max-height: 200px;}

/* ----------------- SEARCH ---------- */
.search-row {margin-bottom:10px;}
/* ----------------------------------- */


/* ------------ FORM TABLE ----------- */
table.formtb {width: 500px; margin:0px auto;}
table.formtb tr:first-child {text-align: left;}
table.formtb tr td {width: 250px;}
table.formtb tr td textarea {width: 500px; height: 200px;}
/* ----------------------------------- */


/* -------------- FAPOS CMS SYSTEM ---- */
.clear {clear:both;}

.fps-fwin {position:fixed;top:200px;left:30%;}
.drag_window {
z-index: 9999; 
position: relative;  
overflow: hidden;
width: 305px;  
max-width: 400px;      
background-color: rgba(216, 216, 216, 0.92);  
border-radius: 10px;  -moz-border-radius: 10px;  -webkit-border-radius: 10px;
box-shadow: 0 0 10px #000, 0 0 100px rgba(255, 255, 255, 0.2);  -webkit-box-shadow: 0 0 10px #000, 0 0 100px rgba(255, 255, 255, 0.2);  -moz-box-shadow: 0 0 10px #000, 0 0 100px rgba(255, 255, 255, 0.2);
}
.drag_window .fps-title {background:none;cursor:move;height:29px;font-weight:bold;color:#444;font-family:sans-serif, arial, verdana;font-size:12px;padding-left:9px;line-height:27px;}
.drag_window .fps-cont {border:1px solid #253439;padding:5px; max-height:400px; overflow:auto; margin:0px 10px 20px 10px; background:#444;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.drag_window .fps-close {background: url('../img/on_off_butt.png') -28px 0 no-repeat;  float: right;  height: 20px;  width: 20px;  margin: -26px 5px 4px;  cursor: pointer;}
.fps-fwin .fps-close:hover {background-position: -28px -20px;}
.fps-fwin textarea {width:100%;height:50px;}
.fps-fwin fieldset {margin-top:7px; padding:2px; border:1px solid #FDA03C; font-size:12px;}
.fps-fwin fieldset legend {font-size:11px;}

.fps-form-red {width:100%; border:1px solid #7F9DB9; border-bottom:none;}
.fps-form-textarea {overflow:hidden; width:100%; border:1px solid #7F9DB9;}
.fps-form-textarea textarea {border:none;}

.fps-control {font-size:12px;}
.fps-control input, .fps-control select {font-size:12px;}


.spoiler-open {width:90%; height:20px;  padding: 2px; color:#E57D1C;}
.spoiler-win {display:none; background:#C8D8FB; width:90%; padding: 5px;}

.aimg {cursor:pointer;}
.botname {color:#FF0000;}


.fpsMainMenu {background: none;list-style: none outside none;padding: 1px 0 1px 4px;}
.fpsMainMenu a { background: none;padding: 8px 5px;text-decoration: none;cursor: pointer;display: block;}
.fpsMainMenu a:hover { background: none;}
.fpsMainMenu li {margin-bottom: 2px;position: relative;width: 196px;}
.fpsMainMenu li ul {display:none;padding: 4px 19px !important; background:grey !important;}
.fpsMainMenu li ul li {background:none !important; width:auto !important; border-bottom: 1px dashed #384B52;}
.fpsMainMenu li ul li a {background:none !important;color: #C0C9CD;font-size: 11px;width:100%; padding:3px 0px;}

.fpsMainMenu li:hover ul.fpsMainMenu {display:block;}

/*div.grippie {background:#EEEEEE url('../img/grippie.png') no-repeat scroll center 2px;border-color:#DDDDDD;border-style:solid;border-width:0pt 1px 1px;cursor:s-resize;height:9px;overflow:hidden;}*/
div.grippie {}
.resizable-textarea textarea {display:block;margin-bottom:0pt;width:95%;height: 20%;}

.errorMsg {color:#D7630B;}
ul.errorMsg {list-style: circle inside none; margin-left:20px;}
.errorMsg li {color:#D7630B;}

a.user-details img, span.user-details img {width:24px; height:24px;}
.polls {width:90%; margin:0px auto; padding:10px 30px;}
.poll2 {width:50%; padding:3px; margin:auto;}
.poll2 .variant {width:50%; margin:auto;}
.poll {width:90%; margin:auto;}
.poll .variant, .poll .cnt, .poll .bar, .poll .percentege, .poll2 .variant, .poll2 .cnt {float:left;}
.poll .variant {width:100px;}
.poll .cnt {width:25px;}
.poll .bar {border:1px solid #687A84; height:10px; margin:5px; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; 
background-image: linear-gradient(left , rgb(0,170,43) 0%, rgb(0,255,0) 100%);
background-image: -o-linear-gradient(left , rgb(0,170,43) 0%, rgb(0,255,0) 100%);
background-image: -moz-linear-gradient(left , rgb(0,170,43) 0%, rgb(0,255,0) 100%);
background-image: -webkit-linear-gradient(left , rgb(0,170,43) 0%, rgb(0,255,0) 100%);
background-image: -ms-linear-gradient(left , rgb(0,170,43) 0%, rgb(0,255,0) 100%);
background-image: -webkit-gradient(linear,left bottom,right bottom,color-stop(0, rgb(0,170,43)),color-stop(1, rgb(0,255,0))); box-shadow: 0 0 3px #44444F; -moz-box-shadow: 0 0 3px #44444F; -webkit-box-shadow: 0 0 3px #44444F;}


.fps-edit, .fps-delete, .fps-add, .fps-up, .fps-down, .fps-star, .fps-ip, .fps-on, .fps-off, .fps-close, .fps-open, .fps-like, .fps-unlike, .fps-fix, .fps-unfix, .fps-premoder-confirm, .fps-premoder-reject, .fps-user {width:14px; height:14px; display:block; float:left; margin:0px 1px; background:url('../img/fps-icons-sprite.png') no-repeat;}
.fps-delete {background-position:0px 0px;}
.fps-down {background-position:0px -14px;}
.fps-up {background-position:0px -28px;}
.fps-edit {background-position:0px -42px;}
.fps-close {background-position:0px -56px;}
.fps-open {background-position:0px -70px;}
.fps-unfix {background-position:0px -84px;}
.fps-fix {background-position:0px -98px;}
.fps-off {background-position:0px -112px;}
.fps-on {background-position:0px -126px;}
.fps-star {background-position:0px -140px;}
.fps-ip {background-position:0px -154px;}
.fps-like {background-position:0px -168px;}
.fps-unlike {background-position:0px -182px;}
.fps-premoder-confirm {background-position:0px -210px;}
.fps-premoder-reject {background-position:0px -196px;}
.fps-user {background-position:-14px 0;}

#theme_modbar {text-transform: none;width: 150px;}
#theme_modbar_list {position: absolute;display: none;list-style: none;box-shadow: 0 2px 3px #333;width: 150px;}
#theme_modbar_list a {display: block;padding: 7px;background: #444;}
#theme_modbar_list li:hover a {background: #eee;}
#theme_modbar_buttom {width: 30px;font-weight: bold;font-size: 200%;border-left: 1px solid #000;margin-left: 120px;}
#theme_modbar_buttom:after {content: '≡';padding-left: 8px;}
#theme_modbar:hover #theme_modbar_list {display: block;}

.themeicon {max-width:19px; max-height:19px;}
.eAttach {margin: 0; padding: 10px 0 0 30px; background: url('../img/file.gif') no-repeat 0px 0px; min-height:22px; vertical-align:middle;}
/* ---------- END FAPOS CMS SYSTEM ---- */


.userinfo .wysibb-text {width: auto;}
.content div .material .mat-content .userblock {padding-left: 222px;border: 1px solid #CFCFCF;border-top: 1px solid #999;border-left: 1px solid #999;background-color: #BBB;clear: both;overflow: hidden;white-space: nowrap;border-radius: 0 0 9px 9px;-moz-border-radius: 0 0 9px 9px;-webkit-border-radius: 0 0 9px 9px;}
.content div .material .mat-content ul.userslinks {
width: 221px;
float: left;
position: relative;
z-index: 1;
clear: left;
border-bottom: 1px solid #999;
background: #b6b6b6;
margin: 0;
margin-left: -222px;
padding: 0;
list-style: none;
display: inline-block;
border-radius: 0 0 0 10px;
-moz-border-radius: 0 0 0 10px;
-webkit-border-radius: 0 0 0 10px;
}
.content div .material .mat-content ul.userslinks li, .content div .material .mat-content ul.userslinks li.submenu a {
border-bottom: 1px solid #999;
min-height: 35px;
display: block;
line-height: 35px;
padding: 0 15px;
font-family: ArialNarrow, sans-serif;
font-size: 17px;
font-weight: bold;
}
.content div .material .mat-content ul.userslinks li:hover, .content div .material .mat-content ul.userslinks li.submenu a:hover {background-color: #cecece;}
.content div .material .mat-content ul.userslinks li.active, .content div .material .mat-content ul.userslinks li.submenu a.active {background-color: #e7e7e7;margin-right: -1px;}
.content div .material .mat-content ul.userslinks li:last-child, .content div .material .mat-content ul.userslinks li.submenu a:last-child {border:0;}
.content div .material .mat-content ul.userslinks li, .content div .material .mat-content ul.userslinks li.submenu a {border-radius:10px 0 0 10px;-moz-border-radius: 10px 0 0 10px;-webkit-border-radius: 10px 0 0 10px;}
.content div .material .mat-content ul.userslinks li a, .content div .material .mat-content ul.userslinks li.submenu a {
white-space: nowrap;
font-weight: normal;
display: block;
color: #555;
text-decoration: none;
overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
}
.content div .material .mat-content ul.userslinks li.submenu {background-color: #b6b6b6; padding: 0;}
.content div .material .mat-content ul.userslinks li.submenu a {padding-left: 30px;}
.content div .material .mat-content ul.userslinks li.category {
    background: #6c6c6c url('../img/button.png') repeat-x 0px 7px;  
    border: 1px solid #474747;
    border-radius: 0;  
    -moz-border-radius: 0;  
    -webkit-border-radius: 0;
}
.content div .material .mat-content ul.userslinks li.category a {color: #FFF;  text-shadow: 0 1px 0 #423F3F;}
.content div .material .mat-content .userinfo {display: block;vertical-align: top;width: 100%;min-height: 500px;z-index: 0;float: right;clear: right;border-left: 1px solid #999;margin-left: -1px;background-color: #e7e7e7;}
.content div .material .mat-content .userinfo .upuserinfo {margin: 10px;}
.content div .material .mat-content .userinfo .upuserinfo .profileavatar {position:relative;display: inline-block;width: 95px;height: 95px;vertical-align: top;}
.content div .material .mat-content .userinfo .upuserinfo .userinfocell {display: inline-block;margin: 0 10px;font-size: 13px;color: #555;}
.content div .material .mat-content .userinfo .upuserinfo .userinfocell .nameuser {font-size: 26px;  color: #323232;}
.content div .material .mat-content .userinfo .upuserinfo .userinfocell .onlineofline {display: inline-block;}
.content div .material .mat-content .userinfo .upuserinfo .userinfocell .lastrun {display: inline-block;font-size: 11px;}
.content div .material .mat-content .userinfo .upuserinfo .userinfocell .shkalakrut {}
.content div .material .mat-content .userinfo .upuserinfo .userReputation {border: 1px solid #fff;margin: 8px;float: right;border-radius: 10px;height: 80px;width: 235px;color: #fff;text-align: center;}
.content div .material .mat-content .userinfo .upuserinfo .userReputation .Rep-number {font-size: 30px;margin-top: 10px;}
.content div .material .mat-content .userinfo .bottomuserinfo {background: #F6F6F6;margin: 10px;border: 1px solid #96a28e;border-radius: 0 0 10px;-moz-border-radius: 0 0 10px;-webkit-border-radius: 0 0 10px;}
.content div .material .mat-content .userinfo .bottomuserinfo div {padding: 8px 10px;background: #96a28e;  color: #39332F;}
.content div .material .mat-content .userinfo .bottomuserinfo .spisokinfouser {list-style:none;margin: 10px 0;padding: 0;}
.content div .material .mat-content .userinfo .bottomuserinfo .spisokinfouser li {margin-bottom: 5px; line-height: 1.3;padding: 0 6px 0 0;}
.content div .material .mat-content .userinfo .bottomuserinfo .spisokinfouser li span {display:inline-block; font-size: 13px;vertical-align: top;}
.content div .material .mat-content .userinfo .bottomuserinfo .spisokinfouser li .siu_title {float:left;width: 35%;font-weight: bold;text-align: right;padding-right: 10px;}
.content div .material .mat-content .userinfo .bottomuserinfo .spisokinfouser li .siu_data {word-wrap:break-word;max-width: 100%;}
.content div .material .mat-content .userinfo .bottomuserinfo .spisokinfouser li .siu_data div  {padding: 0;background: transparent;}
.content div .material .mat-content .userinfo .bottomuserinfo .spisokinfouser li .siu_data .group_edit {padding: 8px;background: #B1B1B1;border-radius: 5px;border: 1px solid #919191;}
.content div .material .mat-content .userinfo .bottomuserinfo .spisokinfouser li .siu_data .group_edit div {padding: 7px 7px 0;}
.content ul.spisok-all {list-style:none;padding: 10px 0;margin: 0;}
.content div .material .mat-content .userinfo ul.spisok-all {padding: 6px;}
.content ul.spisok-all li {clear: both;line-height: 1.3;padding: 5px;margin: 5px; border: 1px solid #D3D3D3;background: #F5F5F5;}
.content ul.spisok-all li:last-child {text-align:center;border:0;margin-top: 10px;background: none;}
.content ul.spisok-all li .siu_title {width: 30%;text-align: right;display:inline-block; font-size: 13px;vertical-align: top;margin: 10px;}
.content div .material .mat-content .userinfo ul.spisok-all li .siu_title {width: 27%;}
.content ul.spisok-all li .siu_title strong {display: block;}
.content ul.spisok-all li .siu_data {word-wrap:break-word;max-width: 100%;min-width: 35%;display:inline-block; font-size: 13px;vertical-align: top;margin: 10px;}
.content ul.spisok-all li .siu_data img.avatar {position:relative;}
.content ul.spisok-all li .siu_data input {height: 25px;width: 100%;vertical-align: top;}
.content ul.spisok-all li .siu_data input[type="button"] {width: auto;height:auto;}
.content ul.spisok-all li .siu_data input[type="radio"], .content ul.spisok-all li .siu_data input[type="checkbox"] {height: 13px;width: 13px;}
.content ul.spisok-all li .siu_data input[type="file"] {width: 270px;}
.content ul.spisok-all li .siu_data input[name="captcha_keystring"] {display: block;width: 109px;}
.content ul.spisok-all li .siu_data textarea {height: 90px;width: 600px;}
.content ul.spisok-all li:first-child {}

.content ul.spisok-all li#tags, .content ul.spisok-all li#meta {border-color: #FFAA7B;}





.userlistsortirovka {
    clear: both;
    padding: 10px;  font-size: 12px;  
    background: #FFF;
    font-weight: 300;  
    margin: 5px;
    overflow: hidden;    
    -webkit-border-radius: 12px;-moz-border-radius: 12px;  border-radius: 12px;  
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px inset;-moz-box-shadow: rgba(0,0,0,0.5) 0 1px 4px inset;box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px inset;  
}
.userlistsortirovka ul {list-style: none;display: inline-block;margin: 0 0 0 10px;  padding: 0;}
.userlistsortirovka ul li {margin: 1px 15px 0 0;font-size: 12px;display: inline-block;}
.userlistsortirovka ul li a {
    background: rgba(0, 0, 0, 0.37);
    color: #fff;
    padding: 4px 10px;
    font-weight: bold;
    -moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0 1px 0, rgba(255,255,255,0.05) 0 0 0 1px;  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0 1px 0, rgba(255,255,255,0.05) 0 0 0 1px;  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5), rgba(255,255,255,0.16) 0 1px 0, rgba(255,255,255,0.05) 0 0 0 1px;
}
.userlistsortirovka ul li a:hover {color:#F0F0F0; text-decoration:none;}
.userlist {list-style: none;  margin: 9px;  padding: 0;}
.userlist > li {padding: 9px;display: block;clear: both;overflow: hidden;line-height: 120%;border: 1px solid #D3D3D3;border-top: 0;background: #f1f1f1;}
.userlist li:first-child {border-top: 1px solid #d3d3d3;}
.userlist li .userlistavatar {float: left;width: 60px;  height: 60px;position: relative;}
.userlist li.comment_tree.reply_comment {background: white;}
.userlist li .userlistavatar img {max-width: 60px;max-height: 60px;padding: 1px;border: 1px solid #d5d5d5;background: #fff;-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);  box-shadow: 0 2px 2px rgba(0,0,0,0.1);}
.userlist li .listuser {margin-left: 75px;  }
.userlist li .listuser > div {float: left;margin-top: 5px;font-size: 11px;color: #818181;}
.userlist li .listuser > div > span {padding-right: 18px;}
.userlist li .listuser > div > span .group {font-size: 13px;color: #333;}
.userlist li .listuser .listuserbuttons {float: right;margin: 0;padding: 0;}
.userlist li .listuser .listuserbuttons li {border: 0;padding: 2px;text-align: right;display: inline-block;vertical-align: top;}
.userlist li .listuser .listuserbuttons li a {}
.userlist li .listuser .userlisttitle {font-size: 18px;margin: 0 0 15px 0;}
.listreputation {margin: 5px 10px 0 0;color: #fff;font-weight: bold;font-size: 11px;float: left;padding: 1px 9px;  display: inline-block;  -moz-border-radius: 3px;  -webkit-border-radius: 3px;  border-radius: 3px;  text-shadow: rgba(0,0,0,0.3) 0 -1px 0;}
.userlist .send {background: #DDD;}
.userlist .sendbutton {cursor: pointer;text-align: center;text-transform: uppercase;background: #ccc;border-color: #999 !important;}
.userlist .sendbutton:hover {background: #BEBEBE;}
.userlist li .listuser .text {display: block;float: none;color: #3c3c3c;font-size: 12px;}
/*--------------------------------------------------------------WINDOWS----------------------------------------------------------------------------*/
.messegesokno {
background-color: rgba(243, 243, 243, 0.94);
border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;-khtml-border-radius: 10px;
box-shadow: 0 0 10px #000, 0 0 100px rgba(255, 255, 255, 0.2);-webkit-box-shadow: 0 0 10px #000, 0 0 100px rgba(255, 255, 255, 0.2);-moz-box-shadow:0 0 10px #000, 0 0 100px rgba(255, 255, 255, 0.2);
position: fixed;z-index: 3;width: 300px;bottom: 10px;right: 10px;left: auto;top: auto;}
.messegesokno .headfutbutton {
background: #6c6c6c url('../img/button.png') repeat-x top;
font-family: ArialNarrow,sans-serif;
padding: 0 10px;
line-height: 26PX;
font-size: 14px;
color: #f3f3f3;
text-shadow: 0 1px 0 #313131;
height: 30px;
display: block;
border-radius: 9px 9px 0 0;-moz-border-radius: 9px 9px 0 0;-webkit-border-radius: 9px 9px 0 0;-khtml-border-radius: 9px 9px 0 0;
}
/*----------------------------------------CHAT------------------------------------------*/

#switchsound {background: url('../img/on_off_butt.png') 0 -24px no-repeat;height: 24px;width: 24px;margin: 2px -5px 2px;cursor: pointer;}
#switchsound.deactive {background-position:0 0;}
.messegesokno .headfutbutton #switchsound {float: left;}
.material .mat-title #switchsound {float: right;}
#fpsChat {height: 280px !important;}
.chat-addfrom {margin: 7px 0;}
#chatModule {width: 99%;max-width: 99%;min-height: 50px;}
#chat_meta {background-color: #fff;margin: 10px;line-height: 30px;}
#chat_meta p.errorMsg {margin: 0;font-size: 12px;color: red;border: solid red;border-width: 1px 1px 0;padding: 0 8px;}
#chat_meta ul.errorMsg {padding: 0;font-size: 15px;margin: 0;list-style: none;border: 1px solid red;padding: 0 8px;}
#chat_meta ul.errorMsg li {}
.chat-addfrom .chat_captcha {height: 62px;margin: 5px 32px;padding: 1px;white-space: nowrap;}
.chat-addfrom .chat_captcha img {border: 1px solid red;}
.chat-addfrom .chat_captcha input {vertical-align: top;margin-top: 16px;}
.chat-addfrom div #bigformlink {margin-left: 5px;}

/*----------------------------------------/CHAT------------------------------------------*/