{{ editor_body }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="sendu('sendForm'); return false">
<table border="0"  class="add-form small" cellspacing="1" cellpadding="0">
    <tr>
        <td>Категория:<font color="red" class="manStar">*</font></td>
        <td class="right"><select name="cats_selector">{{ context.cats_selector }}</select></td>
    </tr>
    <tr>
        <td>Заголовок:<font color="red" class="manStar">*</font></td>
        <td class="right"><input type="text" name="title" maxlength="128" value="{{ context.title }}"></td>
    </tr>
    <tr>
        <td colspan="2">
            <textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea>
        </td>
    </tr>
    {% if checkAccess([module,'record_comments_management']) %}
    <tr>
        <td>Комментарии:</td>
        <td class="right"><input type="checkbox" name="commented" value="1" {{ context.commented }} /></td>
    </tr>
    {% endif %}
    <tr>
        <td>Изображение:<font color="red" class="manStar">*</font></td>
        <td class="right"><input class="inp-foto" type="file" name="foto" size="25" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <input class="subm" type="submit" name="submitForm" value="Отправить" />
        </td>
    </tr>
</table>
</form>
