{% for entity in entities %}
<div class="material-foto" style="height: 200px;">
    <!--<div class="title2">Автор: <a href="{{ entity.profile_url }}">{{ entity.author.name }}</a>&nbsp;&nbsp;Раздел: <a href="{{ entity.category_url }}">{{ entity.category_name }}</a></div>-->
    <div class="view" style="width: 150px; height: 150px;">
    <a href="{{ entity.entry_url }}"><img alt="{{ entity.foto_alt }}" title="{{ entity.foto_alt }}" src="{{ entity.preview_foto }}" width="150" height="150" style="border: 0px;" /></a>
    </div>
    <div class="meta">
        Обозвали: <a href="{{ entity.entry_url }}">{{ entity.title }}</a> <br />
        Просмотров: {{ entity.views }}  <br />
        {{ entity.moder_panel }}
    </div>
</div>

{% endfor %}
