
<div class="new_post entry clearfix">
<h1 id="post-title">{{ entity.title }}</h1>
<div class="post_info"> <span class="authorLink"><a href="{{ entity.profile_url }}">{{ entity.author.name }}</a></span> <span class="time"> {{ entity.date }}</span> <img src="{{ template_path }}/images/list_w.png"/> <a href="{{ category_url }}">{{ category_name }}</a> <img src="{{ template_path }}/images/view-process-users.png"/><span class="cat"><a> {{ entity.views }} </a></span> просмотров<span class="commentLink">{{ entity.comments }}</span> коментраиев  </li>  </div>                    
<div class="postcontent">        

        <a href="{{ entity.main }}"><img alt="{{ entity.foto_alt }}" title="{{ entity.foto_alt }}" style="max-width:500px; max-height:500px;" src="{{ entity.main }}" /></a>
        <br />
        {{ entity.description }}
        <div class="share-us">
            <span>Мы в соцсетях:</span>&nbsp;<script language="JavaScript" type="text/javascript" src="{{ template_path }}/js/share.js"></script><br /><br />
        </div>    

Источник: {{ entity.sourse }}
<div class="alignright">
<div class="mod-panel">{{ entity.moder_panel }}</div>
</div>
</div>
</div>
<div class="foto-rotator"><a href="{{ entity.previous_url }}">Предыдущее фото</a> | <a href="{{ entity.next_url }}">Следующее фото</a></div>
