{% for entity in entities %}
<div class="new_post">
  <h2 class="title"><a href="{{ entity.entry_url }}">{{ entity.title }}</a></h2>
<div class="post_info"> <span class="authorLink"><a href="{{ entity.profile_url }}">{{ entity.author.name }}</a></span> <span class="time">{{ entity.date }}</span> <img src="{{ template_path }}/images/list_w.png"/> <a href="{{ entity.category_url }}">{{ entity.category.title }}</a> <img src="{{ template_path }}/images/view-process-users.png"/><span class="cat"><a>{{ entity.views }} </a></span> просмотров<span class="commentLink">{{ entity.comments }}</span> коментраиев</div>            
  <div class="postcontent">
  {{ entity.announce }}
<div class="mod-panel">{{ entity.moder_panel }}</div>
    <span class="readmore_b">
     <a href="{{ entity.entry_url }}">Читать</a>
    </span>
    <div class="clear"></div>
  </div>
  <!-- end .postcontent -->
</div>

{% endfor %}
