

<div class="new_post entry clearfix">
<h1 id="post-title">{{ entity.title }}</h1>
<div class="post_info"> <span class="authorLink"><a href="{{ entity.profile_url }}">{{ entity.author.name }}</a></span> <span class="time"> {{ entity.date }}</span> <img src="{{ template_path }}/images/list_w.png"/> <a href="{{ category_url }}">{{ category_name }}</a> <img src="{{ template_path }}/images/view-process-users.png"/><span class="cat"><a> {{ entity.views }} </a></span> просмотров<span class="commentLink">{{ entity.comments }}</span> коментраиев  </li>   </div>                    
<div class="postcontent">        

        {{ entity.main_text }}
        <br />
        <br />
        <img src="{{ template_path }}/img/file.gif" alt="Открыть файл" title="Открыть файл" align="absmiddle" />
        {% if checkAccess([module,'download_files']) %}
        {% if entity.attachment %}
        [Скачать &nbsp;{{ entity.attachment }}]&nbsp;&nbsp;&nbsp;Загрузок: {{ entity.downloads }}<br />
        {% else %}
        Файл не найден<br />
        {% endif %}
        {% else %}
        Скачивание запрещено
        {% endif %}
        {% if entity.tags %}
        <br />
        <br />
        <div>
            <b>Теги:</b>&nbsp; &nbsp; 
            {% for tag in entity.tags %}
            <a href="{{ www_root }}/loads/index/{{ tag }}">{{ tag }}</a>&nbsp;|&nbsp;
            {% endfor %}
        </div>
        {% endif %}
        <div class="share-us">
            <span>Мы в соцсетях:</span>&nbsp;<script language="JavaScript" type="text/javascript" src="{{ template_path }}/js/share.js"></script>
        </div>
    </div>    

Источник: {{ entity.sourse }}
<div class="alignright">
<div class="mod-panel">{{ entity.moder_panel }}</div>
</div>
</div>




