<table cellpadding="0" cellspacing="0" class="material user-tb">
    <tr>
        <td class="title" colspan="5">Список участников форума</td>
    </tr>
    <tr>
        <td class="title3">Пользователь</td>
        <td class="title3" width="20%">Статус</td>
        <td class="title3" width="25%">Зарегистрирован</td>
        <td class="title3" width="5%">Сообщения</td>
        <td class="title3" width="10%">ЛС</td>
    </tr>

    {% if entities %}
        {% for user in entities %}
        <tr>
            <td class="userName"><a href="{{ www_root }}/users/info/{{ user.id }}">{{ user.name }}</a> <div style="float:right;">{{ user.moder_panel }}</div></td>
            <td class="gTableBody1" align="center">{{ user.group }}</td>
            <td class="puttime" align="center">{{ user.puttime }}</td>
            <td class="gTableBody1" align="center" style="white-space: nowrap;">{{ user.posts }}</td>
            <td class="gTableBody1" align="center" style="white-space: nowrap;">{{ user.pm }}</td>
        </tr>
        {% endfor %}
    {% endif %}

    <tr>
        <td class="meta" align="center" colspan="5">
            Сортировать по:&nbsp;&nbsp;
            {{ getOrderLink(['puttime','Дата регистрации']) }}&nbsp;&nbsp;&nbsp;&nbsp;
            {{ getOrderLink(['name','Имя']) }}&nbsp;&nbsp;&nbsp;&nbsp;
            {{ getOrderLink(['last_visit','Последний визит']) }}&nbsp;&nbsp;&nbsp;&nbsp;
            {{ getOrderLink(['status','Статус']) }}
        </td>
    </tr>
</table>