<table class="material show-user" cellpadding="0" cellspacing="0"width="99.5%">
<tr>
  <td class="title" colspan="2">Профиль пользователя {{ user.name }}</td>
</tr>

{% if atm_user.id %}
<tr>
<td colspan="2">
<table style="text-align:center; border: 1px solid #7c7c7c;">
<tr>
<td width="50%"><a href="{{ www_root }}/users/">Пользователи</a></td>
<td width="50%"><a href="{{ www_root }}/users/in_msg_box/">Личка</a></td>
</tr>
</table>
</td>
</tr>
{% endif %}

<tr>
   <td colspan="2"><br><center><img title="{{ user.name }}" class="userAvatar" border="0" src="{{ user.avatar }}"><br>
        {% if checkUserOnline(user.id) %}
        <img src="{{ template_path }}/img/online.png" title="online" alt="online" />
        {% else %}
        <img src="{{ template_path }}/img/offline.png" title="offline" alt="offline" />
        {% endif %}
       <br>
       <table>
        <tr><td style="border: 1px solid #000;">{{ user.privatemessage }}</td></tr>
        <center>{{ user.edit_profile_link }}</center>
        </table>
        </center>
    </td>
</tr>

<tr>
<td>
<img src="{{ template_path }}/img/profile/status.png"/> Статус:</td>
<td>{{ getUserRatingText(user.posts) }}<br /><img border="0" src="{{ template_path }}/img/{{ getUserRatingImg(user.posts) }}" alt="" /></td>
</tr>

<tr>
<td><img src="{{ template_path }}/img/profile/group.png"/> Группа:</td>
<td>
    {% if checkAccess([module,'edit_users']) %}
        {% if atm_user.id == user.id %}
            {{ user.group }}
        {% else %}
            <div class="group_edit">
                <form id="groupForm_{{ user.id }}">
                    <select name="group" onchange="document.getElementById('infomess_{{ user.id }}').innerHTML = ''">
                        {% for group in fps_users_groups %}
                            {% if group.id %}
                                <option 
                                    {% if user.status == group.id %}
                                    selected
                                    {% endif %}
                                value="{{ group.id }}">{{ group.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="button" value="Изменить" onClick="setGroup({{ user.id }}, 'groupForm_{{ user.id }}');" />
                    <div id="infomess_{{ user.id }}"></div>
                </form>
        </div>
        {% endif %}
    {% else %}
        {{ user.group }}
    {% endif %}
</td>
</tr>

<tr>
<td>
<img src="{{ template_path }}/img/profile/reputation.png"/>  Репутация:</td>
<td>{{ user.rating }}&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" onClick="$('#setRating_{{ user.user_id }}').show();">-&nbsp;/&nbsp;+</a></td>
</tr>

<tr>
<td><img src="{{ template_path }}/img/profile/important.png"/> Предупреждения:</td>
<td>{{ user.warnings }}</td>
</tr>

<tr>
   <td width="30%"><img src="{{ template_path }}/img/profile/reg.png"/> Дата регистрации:</td>
   <td width="70%">{{ user.regdate }}</td>
</tr>

<tr>
   <td><img src="{{ template_path }}/img/profile/posetil.png"/> Последнее посещение:</td>
   <td>{{ user.lastvisit }}</td>
</tr>


{% if user.pol %}
<tr>
  <td><img src="{{ template_path }}/img/profile/pol.png"/> Пол:</td>
  <td>{{ user.pol }}</td>
</tr>
{% endif %}


{% if user.age %}
<tr>
   <td><img src="{{ template_path }}/img/profile/vozrast.png"/> Возраст:</td>
   <td>{{ user.age }}</td>
</tr>
{% endif %}


{% if user.city %}
<tr>
   <td><img src="{{ template_path }}/img/profile/building.png"/> Город:</td>
   <td>{{ user.city }}</td>
</tr>
{% endif %}

<tr>
   <td><img src="{{ template_path }}/img/profile/telephone.png"/> Телефон:</td>
   <td>{{ user.telephone }}</td>
</tr>

<tr>
    <td><img src="{{ template_path }}/img/profile/email.png"/> E-mail:</td>
    <td>{{ user.email }}</td>
</tr>


{% if user.url %}
<tr>
  <td><img src="{{ template_path }}/img/profile/sait.png"/> Сайт:</td>
  <td>{{ user.url }}</td>
</tr>
{% endif %}


{% if user.icq %}
<tr>
   <td><img src="{{ template_path }}/img/profile/icq.png"/> Номер в ICQ:</td>
   <td>{{ user.icq }}</td>
</tr>
{% endif %}


{% if user.jabber %}
<tr>
   <td><img src="{{ template_path }}/img/profile/jabber.png"/> Jabber:</td>
   <td>{{ user.jabber }}</td>
</tr>
{% endif %}


{% if user.about %}
<tr>
   <td><img src="{{ template_path }}/img/profile/interesi.png"/> Интересы:</td>
   <td>{{ user.about }}</td>
</tr>
{% endif %}


<tr>
   <td><img src="{{ template_path }}/img/profile/last_message.png"/> Последнее сообщение:</td>
   <td>{{ user.lastpost }}</td>
</tr>

<tr>
   <td><img src="{{ template_path }}/img/profile/all_message.png"/> Статистика:</td>
   <td>
        {% for stat in user.stat %}
            {% if stat.count %}
                <a href="{{ stat.url }}">{{ stat.text }} ({{ stat.count }})<br /></a>
            {% endif %}
        {% endfor %}
   </td>
</tr>
</table>


<div id="setRating_{{ user.user_id }}" class="fps-fwin" style="display:none;">
<div class="drag_window">
    <div class="title" onmousedown="drag_object(event, this.parentNode)">Голос для <b>{{ user.name }}</b></div>
    <div onClick="$('#setRating_{{ user.user_id }}').hide()" class="close"></div>
    <div class="cont">
        <form id="ratingForm_{{ user.user_id }}">
            <input type="radio" name="points" value="1" /><b>&nbsp;1</b><br />
            <input type="radio" name="points" value="0" /><b>&nbsp;0</b><br />
            <input type="radio" name="points" value="-1" /><b>-1</b><br />
            <textarea name="comment"></textarea><br />
            <input type="button" value="Отправить" onClick="setRating({{ user.user_id }}, 'ratingForm_{{ user.user_id }}');" />
        </form>
        <div id="infomess_{{ user.user_id }}"></div>
    </div>
</div>
</div>

