﻿{{ editor_body }}
<script language="JavaScript" type="text/javascript">
function pollForm(element) {
    if (!$(element).is(':checked')) {
        $('#poll_question').hide();
        $('#poll_ansvers').hide();
    } else {
        $('#poll_question').show();
        $('#poll_ansvers').show();
    }
}
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu('sendForm')}; return false">
<table border="0"  class="add-form reply" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td colspan="3" class="title">Новая тема</td>
    <tr>
    <tr>
        <td>
            <table style="width:100%;" class="">
                <tr>
                    <td>Заголовок темы:</td>
                    <td align="right" class="right"><input type="text" name="theme" maxlength="55" value="{{ context.theme }}" style="width:400px"></td>
                </tr>
                <tr>
                  <td>Описание:</td>
                  <td align="right" class="right"><input type="text" name="description" maxlength="128" value="{{ context.description }}" style="width:400px" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>Закрыть доступ:</td>
                    <td class="right" align="right">
                        {% for group in fps_users_groups %}
                        <label><input type="checkbox"
                            {% for curr in context.gr_access %}
                                {% if curr == group.id %}
                                 checked="checked" 
                                {% endif %}
                            {% endfor %}
                          value="{{ group.id }}" name="gr_access_{{ group.id }}" />&nbsp;{{ group.title }}</label><br />
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td align="left" class="gTableRight">
                        <div id="attachments">
                            <input style="width:20px;" type="button" name="addInput" value="+" onClick="addFileField('attachments');" />
                            <input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span><br />
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Добавить опрос:
                    </td>
                    <td>
                        <input type="checkbox" name="poll" value="1" onClick="pollForm(this);" 
                        {% if context.poll %}
                        checked="checked"
                        {% endif %}
                        />
                    </td>
                </tr>
                <tr id="poll_question" 
                    {% if context.poll == 0 %}
                    style="display:none;"
                    {% endif %}
                    >
                    <td>
                        Тема опроса:
                    </td>
                    <td>
                        <input style="width:100%; padding: 2px;" type="text" name="poll_question" value="{{ context.poll_question }}" />
                    </td>
                </tr>
                <tr id="poll_ansvers" 
                    {% if context.poll == 0 %}
                    style="display:none;"
                    {% endif %}
                    >
                    <td>
                        Варианты ответов(каждый с новой строки):
                    </td>
                    <td>
                        <textarea name="poll_ansvers" style="width:100%; height:200px;">{{ context.poll_ansvers }}</textarea>
                    </td>
                </tr>
                
                
                <tr>
                    <td>
                        Закрепить первое сообщение темы:
                    </td>
                    <td>
                        <input type="checkbox" name="first_top"
                        {% if context.first_top %}
                        checked="checked"
                        {% endif %}
                        />
                    </td>
                </tr>

                {% if checkAccess([module,'close_themes']) %}
                <tr>
                    <td>
                        Закрыть тему:
                    </td>
                    <td>
                        <input type="checkbox" name="locked"
                        {% if context.locked %}
                        checked="checked"
                        {% endif %}
                        />
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <td colspan="2">
                        <input class="subm" type="submit" name="submitForm" value="Отправить" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</form>
