
{% if forum_cats %}


{% for category in forum_cats %}
<table cellspacing="0" cellpadding="0" class="cat-tb">
    <tr>
        <td class="title" colspan="5">
            <a href="{{ category.cat_url }}">{{ category.title }}</a>
            <span onClick="if($('#{{ category.id }}').css('display') == 'none'){$('#{{ category.id }}').show();}else{$('#{{ category.id }}').hide();}" style="float:right;" class="strelka1"></span>
            <div style="clear:both;">
        </td>
    </tr>
    <tr>
        <td width="5%" class="meta">&nbsp;</td>
        <td class="meta">Форум</td>
        <td width="8%" class="meta" align="center">Темы</td>
        <td width="8%" class="meta" align="center">Ответы</td>
        <td width="30%" class="meta">Обновления</td>
    </tr>


    
    {% if category.forums %}
    {% for forum in category.forums %}
    <tr>
        <td width="5%" class="iconTd" align="center">
            <img style="margin:0;padding:0;vertical-align:middle;border:0;" src="{{ forum.icon_url }}" title="Нет новых сообщений" />
        </td>
        <td width="49%" class="forumNameTd">
            <div class="left">
                <a class="forum" href="{{ forum.forum_url }}">{{ forum.title }}</a>  
                <br />
                <span class="forumDescr">{{ forum.description }}</span>
                <br />
                {% if forum.subforums %}
                <ul class="subforums">
                {% for subforum in forum.subforums %}
                    <li>
                    <a href="{{ www_root }}/forum/view_forum/{{ subforum.id }}">{{ subforum.title }}</a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="right">{{ forum.admin_bar }}</div>
            <div style="clear:both;"></div>
        </td>
        <td width="8%" class="forumThreadTd" align="center">{{ forum.themes }}</td>
        <td width="8%" class="forumPostTd" align="center">{{ forum.posts }}</td>
        <td width="30%" class="forumLastPostTd">
            {{ forum.last_post }}
        </td>
    </tr>
    {% endfor %}
    {% endif %}



</table>
<br />
<br />

{% endfor %} 

{% endif %}
