<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta name='robots' content='index, follow' />
<meta name='rating' content='general' />
<meta name='generator' content='Atom-M CMS' />
<link rel="icon" href="{{ www_root }}/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{ www_root }}/sys/img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="{{ template_path }}/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ template_path }}/css/engine.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ template_path }}/css/slide.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ template_path }}/css/posts.css" type="text/css" /> 
<link rel="stylesheet" href="{{ template_path }}/css/style.css" type="text/css" media="screen" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/stylee.css" />
<script language="JavaScript" type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>

<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="{{ template_path }}/css/ie7style.css" />
<![endif]-->
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ template_path }}/css/ie8style.css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="{{ template_path }}/css/ie6style.css" />
<script src="{{ template_path }}/js/DD_belatedPNG_0.0.8a-min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">DD_belatedPNG.fix('div#top, img#logo, img.logo_line, div#left_arrow a img, div#right_arrow a img, span a.readmore, #f_menu div.featitem,  #f_menu div.active, ul.sf-menu li.backLava');</script>
<![endif]-->

<script src="{{ template_path }}/js/slide.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
<!--function bookmarkthis(title,url) {
  if (window.sidebar) { // Firefox   
  window.sidebar.addPanel(title, url, ""); 
  } else if (document.all) { // IE   
  window.external.AddFavorite(url, title); 
  } else if (window.opera && window.print)
  { // Opera   
  var elem = document.createElement('a');  
  elem.setAttribute('href',url);   
  elem.setAttribute('title',title);   
  elem.setAttribute('rel','sidebar');   
  elem.click();  }}//-->
  </script>
  

<script type="text/javascript">document.documentElement.className = 'js';</script>
<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<script src="{{ template_path }}/js/jquery.lavalamp.1.3.3-min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ template_path }}/js/jquery.cycle.all.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ template_path }}/js/superfish.js" type="text/javascript" charset="utf-8"></script>   
<script src="{{ template_path }}/js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ template_path }}/js/slider_js.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ template_path }}/js/default.js" type="text/javascript" charset="utf-8"></script>

{{ editor_head }}
<!-- <script language="JavaScript" type="text/javascript" src="{{ www_root }}/sys/js/textarearesizer.js"></script> -->
<script type="text/javascript">
{% if atm_user.id %}
    check_pm();
{% endif %}

/*
$(document).ready(function() {
$('textarea.text-area:not(.processed)').TextAreaResizer();
});
*/
</script>
<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("a.gallery").fancybox();
});
</script>
<!--/FancyBOX -->



</head>
 

<body class="home blog">
<div id="loading-layer" style="display:none">Загрузка. Пожалуйста, подождите...</div>
<!-- Panel -->
<div id="toppanel">
    <div style="display: none;" id="panel">
        <div class="content clearfix">
            <div class="left">
                <h1>Добро пожаловать!</h1>
                <h2>заголовок</h2>        
Здесь можно что нибудь написать ну или чего вставить думайте сами
                </div>
            <div class="left">
<h1>Календарь</h1>
{{ calendar_0 }}
через плагин календарь можно выводить разную информацию для пользователей    
            </div>
            <div class="left right">            
                <!-- Login Form -->
                
{% if atm_user.id %}
<!--USERINFO-->
<div align="center" class="mp_uzlogin">
<br/><font color="#ff6600">Профиль <u><b>{{ atm_user.group }}</b></u></font>
</br> с нами <font color="#ff6600"><strong><b>{{ atm_user.reg_days }}</b></strong></font>-й день
</br><a href="/users/in_msg_box/">Непрочитанные ЛС</a> <font color="#ff6600"><b>{{ atm_user.unread_pm }}</b></font>
<br/><br/><img src="{{ atm_user.avatar_url }}" style="width:80px;height:80px"></a>
</div>
<center>
<br/><a href="{{ atm_user.profile }}" title="Профиль">
<img src="{{ template_path }}/images/Contact.png" border="0"></a> 
<a href="/users/edit_form/" title="Настройки профиля">
<img src="{{ template_path }}/images/Gear.png" border="0"></a> 
<a href="/users/logout" title="Выход">
<img src="{{ template_path }}/images/Power.png" border="0"></a>
</center>
<!--/USERINFO-->

{% else %}
<form action="{{ www_root }}/users/login/" id="loginForm" method="post">
  <h1>Панель управления</h1>
  <input name="login" id="login" value="submit" type="hidden">
  <label class="grey" for="log">Логин:</label>
   <input name="username" class="field" size="23" type="text">
  <label class="grey" for="pwd">Пароль:</label>
  <input name="password" class="field" size="23" type="password">
  <div class="clear"></div>
  <input class="bt_login" type="submit"  value="Вход" id="login" name="submitForm">
  <a class="lost-pwd" href="/users/new_password_form/">• Забыли пароль?</a> 
  <a class="lost-pwd" href="{{ www_root }}/users/add_formr">• Регистрация</a>
</form>
{% endif %}

                
            </div>
        </div>
</div>
    <!-- /login -->    

    <!-- The tab on top -->    
    <div class="tab">
        <ul class="login">
            <li class="left">&nbsp;</li>
            <li>Привет <a href="{{ atm_user.profile }}"><b>{{ atm_user.name }}</b></a></li>
            <li class="sep">|</li>
            <li id="toggle">
                {% if atm_user.id %}<a style="display: block;" id="open" class="open" href="#">Мой профиль</a>{% else %}<a style="display: block;" id="open" class="open" href="#">Вход | Регистрация</a>{% endif %}
                <a id="close" style="display: none;" class="close" href="#">Закрыть</a>            
            </li>
            <li class="right">&nbsp;</li>
        </ul> 
    </div> <!-- / top -->
    
</div> <!--panel -->


    <!-- Panel -->  
    <\ br>
    <div id="top">
        <div id="header">

            <!-- Start Logo -->
            <a href="/"><img src="{{ template_path }}/images/logo.png" alt="" id="logo"/></a>
            <img src="{{ template_path }}/images/separator.png" width="2" height="59" alt="Line" class="logo_line"/>
            <p id="logo_title">Всё новое — это хорошо забытое старое!</p>
            <!-- End Logo -->
            
            <!-- Start Searchbox -->
            <div id="searchico">
    <form method="POST" id="searchbox" action="{{ www_root }}/search/" >
    <input type="hidden" name="do" value="search">
    <input type="hidden" name="subaction" value="search">
    <input title="Найти" alt="Найти" type="image" src="{{ template_path }}/images/search_btn.png" style="padding-top:12px;padding-left: 20px;"/>            
   <input id="s" name="search" type="text" style=" width: 225px;" value="Поиск по сайту..." onblur="if(this.value=='') this.value='Поиск по сайту...';" onfocus="if(this.value=='Поиск по сайту...') this.value='';">
    <input  class="search_but" value="" type="submit" name="send" />
    </form>
            </div>
            <!-- End Searchbox -->

            
            
            
            
            
            
            
        
            <!-- Start Menu -->
            <ul class="sf-menu">
<li class="current_page_item"><a href="/">Главная</a></li>
<li class="page_item page-item-127"><a href="/forum" title="На форум">Форум</a>
</li>
<li class="page_item page-item-130"><a href="/" title="категория">категория</a></li>
<li class="page_item page-item-134"><a href="/" title="категория">категория</a></li>
<li class="page_item page-item-132"><a href="#" title="#">Категория</a></li>
<li class="page_item page-item-135"><a href="#" title="#">Категория</a>
<ul>
    <li class="page_item page-item-222"><a href="#" title="#">под категория</a></li>
    <li class="page_item page-item-214"><a href="#" title="#">под категория</a></li>
    <li class="page_item page-item-220"><a href="#" title="#">под категория</a></li>
    <li class="page_item page-item-216"><a href="#" title="#">под категория</a></li>
    <li class="page_item page-item-218"><a href="#" title="#">под категория</a></li>

</ul>
</li>
</ul>
<!-- End Menu -->    

                <!-- Start Featured slader -->    
        <div id="featured">
            <div id="left_arrow"><a href="#" id="previous"><img src="{{ template_path }}/images/fleft_arrow.png" width="32" height="70" alt="Featured Previous"/></a></div>
            
            <!-- Featured Content -->
            <div id="featured_content"> 
                
                <!-- Featured Articles -->
                <div id="spotlight">
                            <div class="slide">
                            <h1>Модуль User Status v.1.0</h1>
                            <br class="clear" />
                            <img src="{{ template_path }}/slider/3.jpg" class='featured_img'  alt='титл' width='195' height='150' />
                             Модуль User Status v.1.0 by .добавляет в профиль пользователя текстовый статус, который пользователь может устанавливать по своему усмотрению и желанию.
                                                
                                                
                                                
                            <span class="readmore_g"><a href="#">Подробнее...</a></span>
                        </div>
                                            <div class="slide">
                            <h1>Модуль Hide v.5.5 Light edition</h1>
                            <br class="clear" />
                                                <img src="{{ template_path }}/slider/2.png" class='featured_img'  alt='титл' width='177' height='140' />                        Просто замечательный модуль Hide v.5.5 Light edition. Модуль позволяет скрывать от пользователей полезную информацию под Hide (хайд). Hide (хайд) будет открыт пользователям в том случае, если они выполнят некоторые действия направленные на развитие Вашего Dle сайта.И модуль не создаёт дополнительных запросов к БД.                        
                            <span class="readmore_g"><a href="#">Подробнее...</a></span>
                        </div>
                                            <div class="slide">
                            <h1>Модуль User Status v.1.0</h1>
                            <br class="clear" />
                            <img src="{{ template_path }}/slider/3.jpg" class='featured_img'  alt='титл' width='177' height='100' />                            Модуль User Status v.1.0 by .добавляет в профиль пользователя текстовый статус, который пользователь может устанавливать по своему усмотрению и желанию.
                    
                            <span class="readmore_g"><a href="#">Подробнее...</a></span>
                        </div>
                                            <div class="slide">
                            <h1>Панелька Mini-profile </h1>
                            <br class="clear" />
                                                <img src="{{ template_path }}/slider/4.jpg" class='featured_img'  alt='титл' width='177' height='100' />                            Мини панель переделка . которая постоянно висит в левом углу сайта, предлагая пользователям зарегистрироваться. Авторизованные пользователи увидят панель управления своим аккунтом на сайте, вход в в свой профиль, быстрый доступ к персональным сообщениям,к закладкам и к кнопке выйти.                        
                            <span class="readmore_g"><a href="#">Подробнее...</a></span>
                        </div>
                                    </div>
                <!-- End Featured Articles -->
                
                <!-- Featured Menu -->
                <div id="f_menu">
                                            <div class="featitem active">
                            <img src="{{ template_path }}/slider/3.jpg" alt='титл' width='35' height='35' />                            <h2>Модуль User Status v.1.0</h2>
                            <span class="meta">Добавил Jacob_16, 28 марта 2013</span>
                            <span class="order">1</span> 
                        </div>
                                            <div class="featitem">
                            <img src="{{ template_path }}/slider/2.png" alt='титл' width='35' height='35' />                            <h2>HIDE V.5.5 Light Edition</h2>
                            <span class="meta">Добавил Jacob_16, 28 марта 2013</span>
                            <span class="order">2</span> 
                        </div>
                                            <div class="featitem">
                            <img src="{{ template_path }}/slider/3.jpg" alt='титл' width='35' height='35' />                            <h2>Модуль User Status v.1.0</h2>
                            <span class="meta">Добавил Jacob_16, 28 марта 2013</span>
                            <span class="order">3</span> 
                        </div>
                                            <div class="featitem last">
                            <img src="{{ template_path }}/slider/4.jpg" alt='титл' width='35' height='35' />                            <h2>Панелька Mini-profile </h2>
                            <span class="meta">Добавил Jacob_16, 28 марта 2013</span>
                            <span class="order">4</span> 
                        </div>
                                                
                </div>
                <!-- End Featured Menu -->    
            </div>
            <!-- End Featured Content -->
            
            <div id="right_arrow"><a href="#" id="next"><img src="{{ template_path }}/images/fright_arrow.png" width="32" height="70" alt="Featured Next"/></a></div>
        </div>
        <!-- End Featured sleder -->        

        </div>
        <!-- End Header -->
        <div style="clear: both;"></div>
    </div>
    <!-- End Top -->
        
<div id="wrap">
<!-- Main Content-->
    <img src="{{ template_path }}/images/content-top.gif" alt="content top" class="content-wrap" />
    <div id="content">
        <!-- Start Main Window -->
        <div id="main">
                    <div  class="content-forum">
                    <div style="font-size:12px; float:right;">[&nbsp;<a href="{{ www_root }}/forum/last_posts/">Последние сообщения</a>&nbsp;]</div>
                        <div style="float:left; width:45%; text-align:left;">
                            <div class="add">{{ meta }}</div>
                            <div class="add">{{ add_link }}</div>
                        </div>
                        <div style="float:right; width:45%; text-align:right;">
                            <div style=" margin:2px;">{{ pagination }}</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    {{ content }}
                    {{ comments_form }}
                    <div style="clear:both;"></div>
                    
                    
<div class="bgnav"></div>
<div class="nav">
    <div class="nav2">
        &nbsp;{{ pagination }} 
    </div>
    <div class="ucaza">
        {% if fps_pagescnt >= 2 %}
        <a id="prev_link" href=""><span class="ucaz1"></span></a>
        <script type="text/javascript">
        var page = {{ fps_curr_page }} - 1;
        if (page < 1) page = 1;
        document.getElementById('prev_link').href = '?page=' + page;
        </script>

        <a id="next_link" href=""><span class="ucaz2"></span></a>
        <script type="text/javascript">
        var page = {{ fps_curr_page }} + 1;
        if (page > {{ fps_pagescnt }}) page = {{ fps_pagescnt }};
        document.getElementById('next_link').href = '?page=' + page;
        </script>
        {% endif %}
    </div>
</div>
<!--<div class="navbot"></div>-->

                    <div class="comm-pagi">{{ comments_pagination }}</div>
                    {{ comments }}                    
        </div>
        
                                
        
        <!-- End Main -->
<div id="sidebar">
        
            <div id="recent-posts-3" class="block widget_recent_entries">        <h2>Recent Posts</h2><img alt="Sidebar Hr" src="{{ template_path }}/images/sidebar_hr.png" class="divider" height="16" width="258">        <ul>
{{ mainmenu }}
                </ul></div>
        


        <div id="recent-comments-3" class="block widget_recent_comments"><h2>ТОП новостей</h2><img alt="Sidebar Hr" src="{{ template_path }}/images/sidebar_hr.png" class="divider" height="16" width="258">
        <ul id="recentcomments">
        {{ pop_news }}
        </ul>
</div>

        <div id="recent-comments-3" class="block widget_recent_comments"><h2>Последние комментарии</h2><img alt="Sidebar Hr" src="{{ template_path }}/images/sidebar_hr.png" class="divider" height="16" width="258">
        <ul id="recentcomments">
        {{ last_comments }}
        </ul>
</div>

        <div id="recent-comments-3" class="block widget_recent_comments"><h2>ТОП юзеров</h2><img alt="Sidebar Hr" src="{{ template_path }}/images/sidebar_hr.png" class="divider" height="16" width="258">
        <ul id="recentcomments">
        {{ users_rating }}
        </ul>
</div>

        <div id="recent-comments-3" class="block widget_recent_comments"><h2>Каналы RSS</h2><img alt="Sidebar Hr" src="{{ template_path }}/images/sidebar_hr.png" class="divider" height="16" width="258">
        <ul id="recentcomments">
        {{ fps_rss }}
        </ul>
</div>    
    
</div>
        <!-- end sidebar -->
</div>
    <!-- End Content -->
    <img src="{{ template_path }}/images/content-bottom.gif" alt="content top" class="content-wrap" />
    

    
    
    <!-- Footer Widgets -->
    <div id="footer_widgets">
        <!-- Footer Widget Start-->
                <div class="block_b">
                <h2>Новое</h2>
                <ul>
                <li><a href="#" title="титл">много чего нового</a></li>
                <li><a href="#" title="титл">много чего нового</a></li>
                </ul>    
        </div>
                <div class="block_b"><h2>Теги</h2>
                <ul>
                <li><a href="#" title="титл">много чего нового</a></li>
                <li><a href="#" title="титл">много чего нового</a></li>
                </ul>
        </div>
        <div class="block_b"><h2>Блок</h2>
                <ul>
                <li><a href="#" title="титл">много чего нового</a></li>
                <li><a href="#" title="титл">много чего нового</a></li>
                </ul>
        </div>        
    </div>
    <!-- Footer Widgets Done -->
    <div id="footer">
        <p id="copyright"><a href="http://fopos.net">Fopos Cms</a></p>
    </div>
</div>

    <script type="text/javascript">
    var links = $('.fps-show-mat');
    for (var key in links) {
        if(!links.hasOwnProperty(key)) continue;
    
        links[key].innerHTML = '';
    }
    </script>
{% if fps_chat %}
{% include '../includes/minichat.html' %}
{% endif %}
</body>
</html>

