<form name='editThemeForm' id="movePostsForm" action="{{ context.action }}" method="POST" onsubmit="sendu('movePostsForm'); return false">
<table class="posts-tb" border="0" cellspacing="0" cellpadding="0" id="top">
    <tr>
        <td class="title">{{ theme.title }}</td>
    </tr>
    <tr>
        <td class="postFirst">
            <table class="showTable">
            <tr>
              <td width="30%">Идентификатор темы:</td>
              <td width="70%"><input type="text" name="theme" maxlength="55" value="{{ context.theme }}" style="width:400px" /></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="submit" name="sendForm" value="Переместить" /></td>
            </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="postFirst">
            {% for post in posts %}
            <table cellspacing="0" cellpadding="0" class="post-tb" id="post{{ post.id }}">
                <tr>
                    <td class="meta">
                        <b>{{ post.author_name }}</b> | Добавлено: {{ post.time }} <div style="float:right;">
                        <input type="checkbox"
                            {% for curr in context.posts_select %}
                                {% if curr == post.id %}
                                 checked="checked" 
                                {% endif %}
                            {% endfor %}
                         value="{{ post.id }}" name="post_{{ post.id }}" /></div>
                    </td>
                </tr>
                <tr>
                    <td class="posttdMessage" valign="top">
                        {{ post.message }}
                    </td>
                </tr>
            </table>
            {% endfor %}
        </td>
    </tr>
</table>

<div style=" margin:5px;">{{ pagination }}</div>
</form>
