{{ editor_body }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" 
enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu('sendForm')}; return false">
<table border="0"  class="add-form reply" cellspacing="0" cellpadding="0" width="100%">
    <tr>
        <td colspan="3" class="title">Быстрый ответ</td>
    <tr>
    <tr>

        <td>
            <table style="width:100%;" class="">
                <tr>
                    <td colspan="2">
                        <textarea {{ editor_forum_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td align="left" class="gTableRight">
                        <div id="attachments">
                            <input style="width:20px;" type="button" name="addInput" value="+" onClick="addFileField('attachments');" />
                            <input class="attachField" type="file" id="attach1" name="attach1"  onChange="getFile(1)" /><span id="attachMeta1"></span><br />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="subm" type="submit" name="submitForm" value="Отправить" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</form>
