{% if forum.subforums %}
<table cellspacing="0" cellpadding="0" class="cat-tb">
    <tr>
        <td class="title" colspan="5">
            <a href="{{ forum.cat_url }}">{{ forum.cat_name }}</a>
            <div style="clear:both;">
        </td>
    </tr>
    <tr>
        <td width="5%" class="meta">&nbsp;</td>
        <td class="meta">Форум</td>
        <td width="8%" class="meta" align="center">Темы</td>
        <td width="8%" class="meta" align="center">Ответы</td>
        <td width="30%" class="meta">Обновления</td>
    </tr>
</table>
<table class="forum-hiddener" cellspacing="0" cellpadding="0" id="">

    
    {% if forum.subforums %}
    {% for subforum in forum.subforums %}
    <tr>
        <td width="5%" class="iconTd" align="center">
            <img style="margin:0;padding:0;vertical-align:middle;border:0;" src="{{ subforum.icon_url }}" title="Нет новых сообщений" />
        </td>
        <td width="49%" class="forumNameTd">
            <div class="left">
                <a class="forum" href="{{ subforum.forum_url }}">{{ subforum.title }}</a>  
                <br />
                <span class="forumDescr">{{ subforum.description }}</span>
                <br />
            </div>
            <div class="right">{{ subforum.admin_bar }}</div>
            <div style="clear:both;"></div>
        </td>
        <td width="8%" class="forumThreadTd" align="center">{{ subforum.themes }}</td>
        <td width="8%" class="forumPostTd" align="center">{{ subforum.posts }}</td>
        <td width="30%" class="forumLastPostTd">
            {{ subforum.last_post }}
        </td>
    </tr>
    {% endfor %}
    {% endif %}



</table>
<br />
<br />
{% endif %}




<table border="0" cellspacing="0" cellpadding="0" class="cat-tb">
    <tr>
        <td class="title" colspan="7">{{ forum.title }}</td>
    </tr>
    <tr>
        <td width="4%" colspan="1" class="meta">&nbsp;</td>
        <td class="meta" align="left">{{ getOrderLink(['title','Тема']) }}</td>
        <td width="7%" class="meta" align="center">{{ getOrderLink(['posts','Ответы']) }}</td>
        <td width="8%" class="meta" align="center">{{ getOrderLink(['views','Просмотры']) }}</td>
        <td width="16%" class="meta" align="center">Автор темы</td>
        <td width="22%" class="meta" align="left">{{ getOrderLink(['last_post','Обновления']) }}</td>
    </tr>

    
    
    {% if themes %}
    {% for theme in themes %}
    <tr class="{{ theme.fps_css_class }}">
        <td class="iconTd" align="center">{{ theme.themeicon }}</td>
        <td class="threadNametd">
            <div class="left">
                {{ theme.importantly }}<a class="threadLink" href="{{ theme.theme_url }}">{{ theme.title }}</a>{{ theme.near_pages }}
                <br />{{ theme.description }}
            </div>
            <div class="right">{{ theme.adminbar }}</div>
            <div style="clear:both;"></div>
        </td>
        <td class="threadPostTd" align="center">{{ theme.posts }}</td>
        <td class="threadViewTd" align="center">{{ theme.views }}</td>
        <td class="threadAuthTd" align="center">
            <span class="threadAuthor">
                {{ theme.author.name }}
            </span>
        </td>
        <td class="forumLastPostTd">
            {{ theme.last_post }}
            <br />Сообщение от: 
            <span class="lastPostUser">{{ theme.last_user }}</span><br />
            {{ theme.last_page }}
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr><td colspan="6"><h3>Themes not found</h3></td></tr>
    {% endif %}
    
    
    
    <tr>
        <td class="meta" colspan="7">В этом форуме <b>{{ forum.themes }}</b> тем. На странице показано <b>{{ forum.count_themes_here }}</b> тем.</td>
    </tr>
    <tr>
        <td class="meta" colspan="7">Форум просматривают: {{ forum.who_is_here }}</td>
    </tr> 
</table>
<br />
<br />
<table border="0" cellspacing="0" cellpadding="0" class="cat-tb" style="width:300px;">
    <tr>
        <td colspan="2" class="title">Иконки форума</td>
    </tr> 
    <tr>
        <td><img class="themeicon" src="{{ template_path }}/img/folder.gif" /></td>
        <td>Нет непрочитанных сообщений</td>
    </tr>
    <tr>
        <td><img class="themeicon" src="{{ template_path }}/img/folder_new.gif" /></td>
        <td>Непрочитанные сообщения</td>
    </tr>
    <tr>
        <td><img class="themeicon" src="{{ template_path }}/img/folder_lock.gif" /></td>
        <td>Закрытая тема</td>
    </tr>
    <tr>
        <td><img class="themeicon" src="{{ template_path }}/img/folder_lock_new.gif" /></td>
        <td>Закрытая тема с новыми сообщениями</td>
    </tr>
    <tr>
        <td><img class="themeicon" src="{{ template_path }}/img/folder_hot.gif" /></td>
        <td>Горячая тема</td>
    </tr>
    <tr>
        <td><img class="themeicon" src="{{ template_path }}/img/folder_hot_new.gif" /></td>
        <td>Горячая тема с новыми сообщениями</td>
    </tr>
</table>
